# https://justanopinion.blog/gitattributes-in-github-releases/
# .gitattributes
.gitignore export-ignore
README.md export-ignore
TODO.md export-ignore
.editorconfig export-ignore
tests/ export-ignore
dev/ export-ignore
.gitattributes export-ignore
.gitmessage export-ignore